@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

/* //Button Style  */

.-primary-v2.gform_button,
.-primary-v2.wpcf7-submit,
.c-btn.-primary-v2 {
  background-color:var(--primary-color3);
  color:var(--secondary-color1);
  border:3px solid;
  border-image-slice:1;
  border-image-source:conic-gradient(from 180deg at 50% 50%,#04e4ff 0deg,#04e4ff 54.38deg,#04e4ff 93deg,#8842dc 140deg,#8842dc 247deg,#04e4ff 282deg,#04e4ff 360deg);
  position:relative
}
.-primary-v2.gform_button::after,
.-primary-v2.wpcf7-submit::after,
.c-btn.-primary-v2::after {
  content:"";
  pointer-events:none;
  display:block;
  position:absolute;
  z-index:0;
  border:3px solid;
  border-image-slice:1;
  border-image-source:conic-gradient(from 180deg at 50% 50%,#04e4ff 0deg,#04e4ff 54.38deg,#04e4ff 93deg,#8842dc 140deg,#8842dc 247deg,#04e4ff 282deg,#04e4ff 360deg);
  left:-5px;
  top:-5px;
  right:-5px;
  bottom:-5px;
  -webkit-filter:blur(2px);
  filter:blur(2px);
  opacity:0;
  -webkit-transition:all .2s ease-in;
  transition:all .2s ease-in
}
@media (hover:hover) {
  .-primary-v2.gform_button:hover::after,
  .-primary-v2.wpcf7-submit:hover::after,
  .c-btn.-primary-v2:hover::after {
    opacity:.8
  }
}


.ImportantWhite{
  color: white !important;
}